<div class="container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>NOMBRES</th>
          <th>APELLIDOS</th>
          <th>DEPARTAMENTO</th>
          <th>ACCION</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ empleado.id }}</td>
          <td>{{ empleado.nombre }}</td>
          <td>{{ empleado.apellido }}</td>
          <td>{{ empleado.departamento }}</td>
          <td>{{ empleado.nombre }}</td>
        </tr>
        <tr>
          <td>{{ empleado.id }}</td>
          <td>{{ empleado.nombre }}</td>
          <td>{{ empleado.apellido }}</td>
          <td>{{ empleado.nombre }}</td>
          <td>{{ empleado.nombre }}</td>
        </tr>
        <tr>
          <td>{{ empleado.id }}</td>
          <td>{{ empleado.nombre }}</td>
          <td>{{ empleado.apellido }}</td>
          <td>{{ empleado.nombre }}</td>
          <td>{{ empleado.nombre }}</td>
        </tr>
        <tr>
          <td>{{ empleado.id }}</td>
          <td>{{ empleado.nombre }}</td>
          <td>{{ empleado.apellido }}</td>
          <td>{{ empleado.nombre }}</td>
          <td>{{ empleado.nombre }}</td>
        </tr>
        <tr>
        <td>{{ empleado.id }}</td>
        <td>{{ empleado.nombre }}</td>
        <td>{{ empleado.apellido }}</td>
        <td>{{ empleado.nombre }}</td>
        <td>{{ empleado.nombre }}</td>
        </tr>
      </tbody>
    </table>
  </div>